h1{
	font-size:29px;
	font-weight:normal;
	padding: 0 0 0 0;
	border-bottom: 1px dotted #832B5B;
	margin:0 0 25px 0;
}

.site-content{
	font-family:Verdana;
	font-size:12px;
	
}

.news-item{
	margin:16px 0 0 0;
}

.news-item .date{
	background-color:#832B5B;
	padding:5px 6px;
	line-height:9px;
	color:#FFF;
	margin:0 5px 2px 0;
	display: inline-block;
}

.news-item .title{
	font-size:14px;
	color:#0006F2;
	line-height:15px;
}
.news-item .title:visited{
	color:#551AA8;
}

.news-item content{
	
}

.news-pages{
	margin:21px 0 0 0;
	border-top: 1px dotted #832B5B;
	padding:8px 0 0 0;
}

.news-pages span{
	font-size:14px;
	font-weight:bold;
	display:block;
	margin:0 0 6px 0;
}

.news-pages a{
	display:block;
	border:1px solid #CACCC9;
	width:30px;
	height:14px;
	float:left;
	text-align:center;
	color:#434542;
	text-decoration:none;
	margin: 0 3px 3px 0;
	background-color:#EDEFEB;
	font-size:12px;
}

.news-pages a.act{
	background-color:#832B5B;
	color:#FFF;
}

.news-item-content{
	border-bottom: 1px dotted #832B5B;
	padding:0 0 15px 0;
	margin-bottom:13px;
}

.news-item-content p:last-child{
	padding-bottom:0;
	margin-bottom:0;
}

.all-news{
	font-size:16px;
}